[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/stip"]
	path = themes/stip
	url = https://github.com/EmielH/stip-hugo.git
