<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{- partial "head" . }}
    <body style="background:url('{{ "images/background.jpg" | absURL }}');">
        {{ partial "site-header" . }}
        <!-- <div id="wrapper">
        </div> -->
        <main class="stip-main" >
            <div class="stip-portrait-container">
                <img src="{{ "images/portrait.jpg" | relURL }}" width="300" height="300" class="stip-portrait" alt="Portrait" />
            </div>

            <div class="stip-content">
                <h1 class="stip-text">Chan Ger Hean</h1>
                <h2 class="stip-text">Software Engineer</h2>
                <p class="stip-text">{{- partial "stip_introduction.html" . -}}</p>

                <div class="stip-links">
                    {{- range .Site.Params.links -}}
                        <a rel="me" href="{{ .url }}" title="{{ .title }}">
                            <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                        </a>
                    {{- end -}}
                </div>

                {{- partial "stip_footer.html" . -}}
            </div>
        </main>
        {{ partial "scripts" . }}
        
    </body>
</html>
