<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <link rel="stylesheet" href="/css/homepage.css">
    {{- partial "head" . }}
    <body>
        {{ partial "site-header" . }}
        <img class="home-background" src='{{ "/img/main/home_background.jpg" | absURL }}'>
        
        <!-- <div id="wrapper">
        </div> -->
        <div class="home-body">
            <main class="home-main" >
                <div class="home-content-left">
                    <img class="home-portrait" src='{{ "/img/main/home_portrait.png" | absURL }}'>
                </div>
                <div class="home-content-right">
                    <h1 class="home-text">Chan Ger Hean</h1>
                    <h2 class="home-text">Software Engineer</h2>
                    <p class="home-text">
                        A Computer Science and Mathematics double degree graduate from National University of Singapore.
                        Interested in scalable systems, game development, applications of artificial intelligence, and many more... 
                    </p>
                    <p class="home-text">I just post whatever I want here in my free time. Don't take it too seriously XD</p>
    
                    <div class="home-links">
                        {{- range .Site.Params.links -}}
                            <a rel="me" href="{{ .url }}" title="{{ .title }}">
                                <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                            </a>
                        {{- end -}}
                    </div>
                </div>
                {{ partial "scripts" . }}
            </main>
        </div>
        
    </body>
</html>
